.user-list {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    

    .user-contant {
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: white;
      display: flex;
      justify-content: space-between;

      .user-img{
   
        
        img{
          width: 180px;
          height: 180px;
          border-radius: 10px;
        }
      }

      .user-card{
        h3 {
          margin: 0;
        }
  
        p {
          margin: 5px 0;
        }
      }
      .user-auth{
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }