.add-subtitle-page {
    padding: 20px;
    height: auto;
  
    h1 {
      margin-bottom: 20px;
      text-align: center;
    }
    h2{
      text-align: center;
      line-height: 20px;
    }
  
    form {
      max-width: 600px;
      margin: auto;
  
      .form-group {
        margin-bottom: 15px;
  
        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        input,
        textarea {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;

          &:focus {
            border-color: #007bff;
          }
        }

        textarea {
        resize: vertical;
        }
        
        .mandatory {
          font-size: 0.8rem;
          color: red;
        }
      }
  
      .submit-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  