.navbar {
  background-color: #00bfff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  line-height: 40px;

  h2 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .menu-toggle {
    display: none;
    background: none;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
      font-size: 20px;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      margin: 10px 0;
      text-decoration: none;
      color: white;
      border-radius: 5px;

      svg {
        margin-right: 10px;
      }

      &.active {
        background-color: white;
        color: #00bfff;
      }
    }

    .logout {
      background-color: white;
      color: #00bfff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    height: auto;

    h2 {
      font-size: 24px;
    }

    .menu-toggle {
      display: block;
    }

    .nav-links {
      display: none;
      flex-direction: column;

      &.open {
        display: flex;
      }
    }

    a,
    .logout {
      font-size: 16px;
      padding: 10px;
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 20px;
    }
  }
}
