
  .table-of-contents {
    margin-top: 0px;
    gap: 0px;
    padding: 15px;
    background-color:#e5e7eb;

    .toc-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .toc-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 16px;
        color: #4b5563;
        margin-bottom: 5px;

        &:before {
          content: "• ";
          color: #2563eb;
        }
      }
    }
  }
 
   // Detailed Content Section
  .subtitle-content {
    margin: 0;  

    .subtitle-title {
      font-size: 24px;
      font-weight: 600;
      color: #1f2937;
      margin-bottom: 10px;
    }
    .subtitle-actions button {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 8px;
      font-size: 1.2rem; // Adjust size
      color: #555;
    
      &:hover {
        color: #000;
      }
    }
    
    .toc-list li {
      display: flex;
      align-items: center;
    }
    
    .toc-list li svg {
      margin-right: 8px;
      color: #333;
    }
    

    .subtitle-dec {
      font-size: 16px;
      color: #6b7280;
      margin-bottom: 10px;
      margin-top: 0;
      line-height: 1.6;
    }

    .subtitle-image {
      display: flex;
      justify-content: center;
      
      img{
        width: 40rem;
        height: 25rem;
        border-radius: 8px;
        object-fit: cover;
        margin-bottom: 15px;
      }
    }
  }

  .faq-section{
      margin-bottom: 0;
      h3{
        font-size: 24px;
        color: #1f2937;
        margin-bottom: 10px;
        margin-top: 0;
      }
      ul{
        margin: 0;

        li{
          font-weight: 100;
          // list-style-type: none;
        }
        p{
          margin-top: 5px;
        }
      }
  }